{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
  	"indent": [1, 4],//缩进风格
    "quotes": [2, "single"], //引号类型
    "semi": [2, "always"], //语句强制分号结尾
    "semi-spacing": [2, {"before": false, "after": true}], //分号前后空格
    "max-len": [1, 150, 2],
    "arrow-body-style": [1, "as-needed"],
    "comma-dangle": [2, "never"],
    "object-curly-spacing": 0,
    "no-console": 0,
    "strict": 2,
    "new-cap": 2,
    "key-spacing": [0, { "beforeColon": false, "afterColon": true }],
    "consistent-return": 0,
    "no-param-reassign": [1, { "props": false }]
  }
}